h1 {
  font-weight: bold;
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

.form-control-icon-container {
  .form-control {

  }
  .form-control-icon {
    
  }
}

.breadcrumb {
  display: none;
}
