$font_primary: 'Open Sans', sans-serif;
$color_primary: #FFCC00;
$color_secondary: #191C1D;
$color_grey: #EEEEEE;
$color_white: #FFFFFF;
$color_black: #000000;
$size_header_height: 60px;
$size_header_item_width: 100px;
$size_header_item_trim: 11px;
